body {
  /*background-image: url(../images/drapeaujamaique.jpg);*/
  background-image: linear-gradient(to top left, #26AAF0, #12EBE1); 
  background-repeat: no-repeat;
  background-size: 100%;
}

#left {
    width: 50%;
    float: left;
    text-shadow: 1px 1px white;
}

#affichage {
    width: 50%;
    float: right;
    text-shadow: 1px 1px white;
}

#affichage h1 {
    text-align: center;
}

#affichage table {
    width: 100%;
    border: 1px solid lightgrey;
}

#affichage table td {
    border: 1px solid black;
}

.table {
    background-color: red;
    width: 100%;
}

#col {
    background-color: yellow;
}

.entreeH {
    background-color: #67E167;
    display: none;
}

.entreeV {
    background-color: #67E167;
}