table {
    width: 50%;
    float: left;
}

#affichage {
    width: 50%;
    float: right;
}

#affichage h1 {
    text-align: center;
}

#affichage table {
    border: 1px solid lightgrey;
}

#affichage table td {
    border: 1px solid black;
}

.table {
    background-color: red;
    width: 100%;
}

#col {
    background-color: yellow;
}

.entreeH {
    background-color: lightgreen;
    display: none;
}

.entreeV {
    background-color: lightgreen;
}